{% extends "prose.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
    <h2>Part Of</h2>
    <p>
        {% for r in deprecated %}
            <a class="badge badge-info" href="{{ url_for("ui.resource", prefix=prefix) }}">{{ r.prefix }}</a>
        {% endfor %}
    </p>

    <h2>Part Of</h2>
    <ul>
        {% for part, whole in part_of %}
            <li>{{ part.prefix }} is part of {{ whole.prefix or part.part_of }}</li>
        {% endfor %}
    </ul>

    <h2>Provides</h2>
    <ul>
        {% for part, whole in provides %}
            <li>{{ part.prefix }} provides {{ whole.prefix }}</li>
        {% endfor %}
    </ul>

    <h2>Has Canonical</h2>
    <ul>
        {% for extra, canonical in canonicals %}
            <li>{{ extra.prefix }} is redundant of {{ canonical.prefix }}</li>
        {% endfor %}
    </ul>

{% endblock %}